{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="nav_box">
            <nav>
                <div class="img_box">
                     <a href="{% url 'home' %}"> <img class="logo" src="{% static '/main/images/img.png' %}" alt="Your logo"></a>

                </div>

                <div class="visitor">
                    <div class="visitor_inner">
                        <p>👀  {{ visitor_count }}</p>
                    </div>
                </div>

                <div class="burger">︾</div>
            </nav>



                <div class="list_box">
                    <ul class="list">
                        <p class="firts">👀  {{ visitor_count }}</p>
                        <li><a class="avtive" href="{% url 'home' %}">Main</a></li>
                        <li><a class="avtive" href="{% url 'display_items' %}">Projects</a></li>
                        <li><a class="avtive" href="{% url 'about' %}">About US</a></li>
                        <li><a class="avtive" href="{% url 'contact' %}">Contact</a></li>
                        <li><a class="avtive" href="{% url 'service' %}">Services</a></li>
                    </ul>
                </div>
        </div>


<!--        carousel-->

        <div class="carousel-container">


            <div class="carousel-slide">
                <img src="{% static '/main/images/1.jpg' %}" alt="web-responsive">
                <img src="{% static '/main/images/2.jpg' %}" alt="web-responsive">
                <img src="{% static '/main/images/3.jpg' %}" alt="web-responsive">
                <img src="{% static '/main/images/4.jpg' %}" alt="web-responsive">
                <img src="{% static '/main/images/5.jpg' %}" alt="web-responsive">
            </div>

            <div class="carousel_btn">

                <button id="prevBtn" class="carousel-btn prev-btn">﹤</button>
                <h2 class="middle_text" >About Us</h2>
                <button id="nextBtn" class="carousel-btn next-btn">﹥</button>
            </div>
        </div>


<!--        about content-->

        <div class="about_box">
            <p class="about_header">
                In the ever-evolving landscape of digital design, Z & N Team stands as a beacon of innovation and creativity. We are not just a company; we are storytellers, artists, and engineers, passionate about weaving web narratives that captivate and engage.

                Our journey began with a simple idea: to deliver digital solutions that would break the mold, blending stunning aesthetics with intuitive functionality. Today, with countless successful projects under our belt, we pride ourselves on being pioneers in responsive web page designs and state-of-the-art UI/UX solutions.

                What sets us apart? It's our unwavering commitment to our clients' vision. We believe that every brand has a unique story waiting to be told. Our team of seasoned designers, developers, and strategists work closely with you, ensuring that your digital identity resonates with your ethos and values.

                With Z & N Team, you aren't just getting a service; you're forging a partnership. We immerse ourselves in your world, understanding your challenges and goals, transforming them into digital masterpieces that stand testament to our craftsmanship. Every pixel we design, every line of code we craft, is infused with dedication, expertise, and a touch of magic.

                Dive into the future with us. Let's create, innovate, and elevate the digital experience together.
            </p>
        </div>


    </div>


    <footer>
        <div class="footer_box">
            <div class="f_box_one">
                <div class="social_icon">Facebook</div>
                <div class="social_icon">Tweeter</div>
                <div class="social_icon">Linkedin</div>
                <div class="social_icon">Telegram</div>
            </div>
        </div>
    </footer>


    <script src="{% static 'main/js/burger.js' %}"></script>
</body>
</html>